.list-head{
	background-color: #0D47A1 !important;
}

.list-items{
		background-color: #BBDEFB !important;

}

.list-item3{
		background-color: #E3F2FD !important;
		font-weight: bold !important;
}

.background-color {
	background-color: #212121 !important;
}

@media (max: 575.98px) {
.wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center !important;
	}	

}
}

